<div class="row mt-3">
    <form #ref=ngForm>
        <div class="form-group">
        <input type="text" name="searchTransactions" class="form-control ml-3 mt-3" placeholder="Enter username,product.." [(ngModel)]=searchTransactions> 
        </div>
    </form>
  </div>
  <div class="row mt-3">
    <div class="col-1"></div>
    <div class="col-10">
      <table class="table table-striped table-bordered">
          <thead>
            <th style="color:blue">Sno</th>
            <th style="color:blue">Customer Name</th>
            <th style="color:blue">Product</th>
            <th style="color:blue">Quantity</th>
            <th style="color:blue">Date</th>
            <th style="color:blue">Total amount</th>
            <th style="color:blue">Report</th>
          </thead>
          <tr *ngFor="let i of data | search:searchTransactions, let in=index ">
            <td>{{i.SnoCustomer}}</td>
            <td>{{i.Name}}</td>
            <td>{{i.Product}}</td>
            <td>{{i.Quantity}}</td>
            <td>{{i.Date}}</td>
            <td>{{i.Totalamount}}</td>
            <td>
              <button type="button" class="btn btn-primary" (click)='download()'><i class="fas fa-download"></i></button>
            </td>
          </tr>
        </table>
      </div>
      
    <div class="col-1"></div>
  </div>
  