<div class="card">
  <div class="card-body">
      <h2 style="text-decoration:underline" class="text-dark mt-3">About PharmaCart : </h2>
      <p>Medical stores management at central-level stores and at regional or district-level
          stores that are independent from health facilities. This supply model represents the
          traditional top-down system that is operated by a governmental or parastatal entity
         or a nongovernmental organization; however, a number of countries have now 
          decentralized many of their pharmaceutical sector operations,
           including stores management.</p>

  <p>Medical stores management should assist both the flow and reliability of supplies 
      from source to user as economically and reliably as possible, and without significant wastage, loss of 
      quality, or theft.The primary purpose of a store is to receive, hold, and dispatch stock. 
       his materials management process is implemented through inventory control and warehouse management 
       systems, which may be manual or computer based.The primary purpose of inventory control is to manage 
       stock and ensure the smooth flow of goods by determining what, how much, and when to order  stock.
        Consequently, it provides essential information for procurement management. Warehouse management 
        comprises the physical movement of stock into, through, and out of a medical store warehouse. 
        The systems should also be designed to provide information for performance monitoring.</p>
  </div>
  <div class="card-footer text-dark" style="text-decoration:underline">
          <h2>Contact us : </h2>
          <h6>online medical store</h6>
          <h6>hyderabad</h6>
          <h6>mobile no : 8341394051</h6>
          <h6>E-mail :suchendraharshath@gmail.com</h6>
  </div>
</div>