<div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="table-responsive">
        <table class="table table-bordered mt-3">
            <thead class="thead-light">
              <th>sno</th>
              <th>medicinename</th>
              <th>price</th>
              <th>quantity</th>
              <th>amount</th>
              <th>Delete</th>
            </thead>
            <tr *ngFor="let i of data ; let in=index">
              <td>{{in+1}}</td>
              <td>{{i.medicine}}</td>
              <td>{{i.price}}</td>
              <td> </td>
              <td> </td>
              <td> <button type="button" class="btn btn-danger" (click)="delete(i,in)"><i class="fas fa-trash"></i></button></td>
            </tr>
             <button type="button" class="btn btn-info">Buy</button>
          </table>
        </div>
    </div>
  </div>
  
  