<div class="container">
  <div class="card-deck">
    <div class="card">
      <img src="assets/himalaya.jpg" class="mx-auto d block" width="150" height="200">
      <div class="card-body">
        <h4 class="card-tittle">Himalaya baby cream</h4>
      </div>
      <div class="card-footer">
        <h5>RS 45</h5>
        <button type="button" class="btn btn-danger">Add to Cart</button>
      </div>
    </div>

    <div class="card">
      <img src="assets/pampers.jpg" width="150" height="200" class="mx-auto d block">
      <div class="card-body">
        <h4 class="card-tittle">Pampers Pants</h4>
      </div>
      <div class="card-footer">
        <h5>RS 65</h5>
        <button type="button" class="btn btn-danger">Add to Cart</button>
      </div>
    </div>

    <div class="card">
      <img src="assets/himalayapowder.jpg" width="150" height="200" class="mx-auto d block">
      <div class="card-body">
        <h4 class="card-tittle">Himalaya powder</h4>
      </div>
      <div class="card-footer">
        <h5>RS 90</h5>
        <button type="button" class="btn btn-danger">Add to Cart</button>
      </div>
    </div>
  </div>
</div>