  
        <div class="row pt-5" style="background-color: white">
        <!--  <form #ref=ngForm>
          <div class="form-group">
          <input type="text" name="search" class="form-control ml-3" placeholder="search..." [(ngModel)]=search> 
          </div>
          
          </form> -->
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10 table-responsive">
          <table class="table table-striped table-bordered">
            <thead>
              <th style="color:blue">Sno</th>
              <th style="color:blue">Category</th>
              <th style="color:blue">Medicine Name</th>
              <th style="color:blue">price</th>
              <th style="color:blue">Quantity</th>
              <th style="color:blue">Expiry date</th>
            </thead>
            <tr *ngFor="let i of (data | paginate:{itemsPerPage:3,currentPage:p}); let in=index">
              <td>{{in+1}}</td>
              <td>{{i.category}}</td>
              <td>{{i.medicine}}</td>
              <td>{{i.price}}</td>
              <td>{{i.quantity}}</td>
              <td>{{i.date}}</td>
            </tr>
          </table>
          <pagination-controls (pageChange)="p=$event"></pagination-controls>
        </div>
        <div class="col-1"></div>
        </div>
