<nav class="navbar navbar-expand-md navbar-dark" style="background-color:black">
  <a class="navbar-brand" routerLink="home1">
    <img src="assets/logo.PNG" width="200px" height="50px">
  </a>
<button type="button" data-target="#a" data-toggle="collapse" class="navbar-toggler">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse" class="navbar-collapse" id="a">
<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link hover" style="font-size:20px" routerLink="pharma">Pharma</a>
  </li>
  <li class="nav-item">
      <a class="nav-link hover ml-5" style="font-size:20px" routerLink="aboutus">AboutUs</a>
    </li>
  <li class="nav-item">
    <a class="nav-link hover ml-5" style="font-size:20px" routerLink="login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link hover ml-5" style="font-size:20px" routerLink="signup">SignUp</a>
  </li>
 <!-- <li class="nav-item mt-1 ml-5">
      <div class="justify-content-md-center">
          <form class="form-inline my-2 my-lg-0 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search" style="width: 400px;">
          </form>
      </div>
  </li> -->
</ul>
</div>
</nav>




<router-outlet></router-outlet>